<!DOCTYPE 5>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  </head>

  <body>
    <center>
      <div>
        <button class="btn btn-info" type="button">Goorm 채팅방</button>
      </div>
      <div>
        <textarea class="form-control" id="chatLog" readonly=""></textarea>
      </div>
      <form id="chat">
        <input class="form-contorl" id="name" type="text" /><input
          class="form-contorl"
          id="message"
          type="text"
        /><button class="btn btn-primary" type="submit">전송</button>
      </form>
      <div class="box" id="box"></div>
    </center>
    <script>
      var socket = io();
      $("#chat").on("submit", function (e) {
        socket.emit("send message", $("#name").val(), $("#message").val());
        $("#message").val("");
        $("#message").focus();
        e.preventDefault();
      });

      $("#message").keypress(() => {
        var inputLength = $("#message").val(); //입력한 값의 글자수

        // 만약 input 에 친 값이 0 글자가 아니면 is typing message 발산
        if (inputLength.length != 0) {
          socket.emit("typing", $("#name").val());
        }
      });

      socket.on("istyping", function (msg, name) {
        console.log(msg, name);
        // check if the id is not me ...

        function delay(t, v) {
          return new Promise(function (resolve) {
            setTimeout(resolve.bind(null, v), t);
          });
        }

        function setTheIstyping() {
          $("#message").val(msg);
        }

        if (name != $("#name").val()) {
          console.log("someone is typing");
          setTheIstyping();
          delay(500).then(() => {
            $("#message").val("");
          });
        }
      });

      socket.on("create name", function (name) {
        $("#name").val(name);
      });
      socket.on("receive message", function (msg) {
        $("#chatLog").append(msg + "\n");
        $("#chatLog").scrollTop($("#chatLog")[0].scrollHeight);
      });
    </script>
  </body>
</html>
